@font-face {
    font-family: 'didonesque-roman';
    src: url('6a6b06c115be14cac966dd7370613556.woff2') format('woff2'),
        url('6a6b06c115be14cac966dd7370613556.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didonesque-roman';
    src: url('caaaa2c744697552e59d0752e3c8a3c5.woff2') format('woff2'),
        url('caaaa2c744697552e59d0752e3c8a3c5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

