@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('hk_groteskbold_italic.woff2') format('woff2'),
        url('hk_groteskbold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'hk_groteskbold';
    src: url('hk_groteskbold.woff2') format('woff2'),
        url('hk_groteskbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesklight_italic';
    src: url('hk_grotesklight_italic.woff2') format('woff2'),
        url('hk_grotesklight_italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'hk_grotesklight';
    src: url('hk_grotesklight.woff2') format('woff2'),
        url('hk_grotesklight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-LightItalic.woff2') format('woff2'),
        url('HKGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Bold.woff2') format('woff2'),
        url('HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Light.woff2') format('woff2'),
        url('HKGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-BoldItalic.woff2') format('woff2'),
        url('HKGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Light.woff2') format('woff2'),
        url('HKGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-BoldItalic.woff2') format('woff2'),
        url('HKGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-LightItalic.woff2') format('woff2'),
        url('HKGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Bold.woff2') format('woff2'),
        url('HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

