@font-face {
    font-family: 'DidotLTPro-Roman';
    src: url('DidotLTPro-Roman.woff2') format('woff2'),
        url('DidotLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DidotRegular';
    src: url('DidotRegular.woff2') format('woff2'),
        url('DidotRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

